<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= book.name %></title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="/styles/style.css">
</head>
<body>
<div class="container">
    <header>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/author">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/genre">Genres</a>
            </li>
        </ul>
    </header>

    <main>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <%= book.name %>
                </h5>
                <p class="card-text">
                    <%= book.description %> <br>
                    <h6>Authors:</h6>
                    <% for(const author of book.authors) { %>
                        <button type="button"
                                class="btn btn-link">
                            <a href="/author/<%= author.id %>">
                                <%= author.name %>
                            </a>
                        </button>
                    <% } %>
                    <br>
                    <h6>Genre:</h6>
                    <button type="button"
                            class="btn btn-link">
                        <a href="/genre/<%= book.genre.id %>">
                            <%= book.genre.name %>
                        </a>
                    </button>

                </p>

            </div>
        </div>

    </main>
</div>
</body>
</html>
