<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="/styles/style.css">
</head>
<body>

<div class="container">
    <header>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/author">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/genre">Genres</a>
            </li>
        </ul>
    </header>

    <div class="row">
        <div class="col-12 col-md-4">
            <form class="position-fixed-md" action="/" method="get">
                <div class="form-group">
                    <label for="fullTextSearch">Name</label>
                    <input id="fullTextSearch"
                           class="form-control"
                           name="text"
                           type="text"
                           aria-describedby="emailHelp"
                           placeholder="Search by name"
                           value="<%= params.text %>">
                </div>
                <div class="form-group">
                    <label for="authorsSelect">Select authors</label>
                    <select name="authors" multiple class="form-control" id="authorsSelect">
                        <% for(const author of authors) { %>
                            <% if (params.authors.includes(String(author.id))) { %>
                                <option selected
                                        value="<%= author.id %>">
                                    <%= author.name %>
                                </option>
                            <% } else { %>
                                <option value="<%= author.id %>">
                                    <%= author.name %>
                                </option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="authorsSelect">Select genres</label>
                    <select name="genres" multiple class="form-control" id="genresSelect">
                        <% for(const genre of genres) { %>
                            <% if (params.genres.includes(String(genre.id))) { %>
                                <option selected
                                        value="<%= genre.id %>">
                                    <%= genre.name %>
                                </option>
                            <% } else { %>
                                <option value="<%= genre.id %>">
                                    <%= genre.name %>
                                </option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

        <div class="col-12 col-md-8">
            <p>Books: <%= result.total %>
            </p>

            <main class="row row-cols-1">
                <% for(const book of result.data) { %>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/book/<%= book.id %>">
                                        <%= book.name %>
                                    </a>
                                </h5>
                                <p class="card-text">
                                    <%= book.description %> <br>
                                    Authors:
                                    <% for(const author of book.authors) { %>
                                        <button type="button"
                                                class="btn btn-link">
                                            <a href="/author/<%= author.id %>">
                                                <%= author.name %>
                                            </a>
                                        </button>
                                    <% } %>
                                    <br>
                                    Genre:
                                    <button type="button"
                                            class="btn btn-link">
                                        <a href="/genre/<%= book.genre.id %>">
                                            <%= book.genre.name %>
                                        </a>
                                    </button>

                                </p>

                            </div>
                        </div>
                    </div>
                <% } %>
            </main>

            <%- include('./../pagination.ejs', { path, totalPages: result.totalPages, page: result.page }); %>

        </div>

    </div>


</div>

</body>
</html>
